<% provide(:title, "About") %>
<section class="section--center mdl-grid  mdl-shadow--1dp">
  <div class="mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__supporting-text">
      <h4>About</h4>
      This is TeSS, and it is awesome.
    </div>
  </div>
</section>