<header class="mdl-layout__header mdl-layout__header--scroll mdl-color--primary">
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout__header-row">
    <%= link_to image_tag('ELIXIR_TeSS_logo_white-small-6.png', alt: "ELIXIR TeSS Logo"), '/' %>
    <h2>TeSS</h2>
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__header-row">
  </div>
  <div class="mdl-layout--large-screen-only mdl-layout__tab-bar mdl-js-ripple-effect mdl-color--primary-dark">
    <a href="#overview" class="mdl-layout__tab is-active">Events</a>
    <a href="#features" class="mdl-layout__tab">Materials</a>
    <a href="#features" class="mdl-layout__tab">Packages</a>
    <a href="#features" class="mdl-layout__tab">Workflows</a>
    <a href="#features" class="mdl-layout__tab">Content Providers</a>
    <a href="#features" class="mdl-layout__tab">Nodes</a>
    <a href="#features" class="mdl-layout__tab">About</a>

  </div>
</header>
<div class="mdl-layout__drawer">
  <span class="mdl-layout-title">Material Design Lite</span>
  <nav class="mdl-navigation">
    <a href="#overview" class="mdl-navigation__link">Events</a>
    <a href="#features" class="mdl-navigation__link">Materials</a>
    <a href="#features" class="mdl-navigation__link">Packages</a>
    <a href="#features" class="mdl-navigation__link">Workflows</a>
    <a href="#features" class="mdl-navigation__link">Content Providers</a>
    <a href="#features" class="mdl-navigation__link">Nodes</a>
    <a href="#features" class="mdl-navigation__link">About</a>
  </nav>
</div>
